@import "~semantic-ui-css/semantic.min.css";
@import "~react-datepicker/dist/react-datepicker.css";
body {
    font-size: 15px;
}

.app {
    margin: 0 !important;
    padding: 0 !important;
    .filters-section {
        padding: 2em !important;
        .column {
            &>.header {
                margin: 0 !important;
                padding: 0 1em !important;
                font-weight: 600;
                color: #7b7d7f;
                font-size: 1.2em;
            }
        }
    }
}